{% extends 'base.html' %}


{% block body %}
<form action="" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="container">
        {% for field in form if field.name != 'csrf_token' %}
            {{ field.label() }}
            <br>
            {% if 'image' in field.name %}
            {{ field(class_='form-control-file') }}
            {% if 'second' in field.name %}
            <img src="/static/img/{{ images.split(', ')[0] }}" width="200px" alt="Перезагрузи страничку или перезалей фотку">
                {% for img in images.split(', ')[1:] %}
                <img src="/static/img/{{ img }}" width="200px" alt="Перезагрузи страничку или перезалей фотку">
                <a href="{{ url_for('deletephoto', id=id, photo=img) }}">Удалить</a>
                {% endfor %}
            {% endif %}
            {% else %}
            {{ field(class_='form-control') }}
            {% endif %}
            <br>
            <br>
        {% endfor %}
    </div>
</form>
{{ message }}
    {% if mode == 0 %}
    <p><a href="{{ url_for('listitems') }}">Назад</a></p>
    {% else %}
    <p><a href="{{ url_for('listcategories', id=last_id) }}">Назад</a></p>
    {% endif %}

{% endblock %}